:root {
  --var-nav__bar_margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  position: relative;
  background-color: rgb(240, 240, 240);
  /* width: 300px;
  height: 500px; */
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--var-nav__bar_margin-bottom);
  list-style: none;
  border: 1px solid black;
}

.nav__bar li {
  margin-left: 12px;
  font-size: 15px;
  border: 1px solid black;
}

.nav__bar a {
  text-decoration: none;
  color: black;
}

.clicked {
  background-color: pink;
}

.add_clear_delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_clear_delete li {
  margin: 0 5px 2px;
  list-style: none;
}

.add_clear_delete li a {
  text-decoration: none;
  padding: 0 5px 3px;
  color: #333;
  border: 1px solid;
}

.itemForm {
  /* display: flex; */
}

.iteminput {
  display: inline-block;
  width: 100px;
  height: 20px;
  /* vertical-align: middle; */
  /* line-height: 20px; */
}

.itemButton {
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.itemButton::before {
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.content {
}

/* 
#plus {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px black solid;
  border-radius: 50%;
  cursor: pointer;
} */
